.movie {
  background-color: #324653;
  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-areas: 
    "image"
    "label";
  
}

.movie-label {
  grid-area: label;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin: 0;
}

.poster-image {
  grid-area: image;
  width: 100%;
  margin-bottom: 10%;
  box-shadow: 5px 0px 10px 5px rgb(22, 39, 49);
}

/* .movie-details {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
} */