a {
  color: inherit;
  text-decoration: none;
}

.movie {
  display: flex;
  flex-direction: column;
}

.movie-label {
  grid-area: label;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.title {
  margin: 0;
}

.poster-section {
  width: 100%;
  position: relative;
  margin-bottom: 10%;
}

.poster-image {
  width: 100%;
  box-shadow: 5px 0px 10px 5px rgb(22, 39, 49);
  cursor: pointer;
}

.rating {
  background-color: #E56635;
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: -4%;
  right: -8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
