.header {
  display: grid;
  grid-template-rows: 40% 60%;
}

.page-title {
  text-align: center;
  margin-bottom: 0;
  font-size: 3.3em;
  font-family: 'Open Sans', sans-serif;
}

.app-name {
  padding-left: 2em;
}

@media only screen and (max-width: 676px) {
 .page-title {
   font-size: 2em;
 }

 .app-name {
   padding-left: 0;
   text-align: center;
 }
}

@media only screen and (max-width: 435px) {
  .page-title {
   font-size: 1.5em;
  }
}