.fa-arrow-circle-left {
  color: white;
  margin-left: 5%;
  margin-top: 3%;
  width: 500px;
  cursor: pointer;
}

.movie-expanded{
  color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.info-section {
  background-color:rgba(255,255,255, 0.8);
  position: absolute;
  bottom: 5%;
  left: 2%;
  width: 45%;
  padding: 3%;
  display: flex;
  flex-direction: column;
}

.double-poster-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.poster-wrapper {
  width: 27%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.average-rating {
  background-color: #E56635;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: -10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.poster {
  width: 100%;
  margin: 2%;
}

.movie-title {
  font-size: 2em;
  margin-bottom: 0;
  text-align: center;
}

.top-card {
  display: flex;
  justify-content: space-around;
}

.main-details {
 font-style: italic;
}

.tagline {
  font-size: 1.3em;
  text-align: center;
}

@media only screen and (max-width: 676px) {

  .info-section {
    width: 95%;
    position: static;
  }

  .average-rating {
    height: 65px;
    width: 65px;
  }

  .poster-wrapper {
    margin-bottom: 10%;
  }

  .main-details {
    padding-right: 2%;
  }
}

@media only screen and (max-width: 475px) {

  .average-rating {
    height: 50px;
    width: 50px;
    font-size: 1.5em;
  }
}
