.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5em;
  padding: 2em 4em 4em 4em;
}

.no-results {
  text-align: center;
}


@media only screen and (max-width: 1100px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 676px) {
  .movie-list {
    display: block;
  }
}
