
html, body, .root, .container {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(to right, #19242d, #324653);
}

.main {
  color: #E6E6E6;
  font-family: 'Farro', sans-serif;
}

.error-message,
.loading-message {
  text-align: center;
  word-spacing: 70%
}
